* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8f9;
  font-family: 'Poppins', sans-serif;
}

/* navbar */
nav {
  background-color: white;
  margin-bottom: 40px;
}

nav #title {
  display: inline-block;
  font-size: 40px;
  line-height: 100px;
  vertical-align: super;
}

nav #logo {
  margin-left: 20px;
  margin-top: 10px;
}
/* /navbar */


main{
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
}

/* header */
header {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 5px solid #f6f8f9;
  background-color: white;
}

header .main-button {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: white;
  font-weight: bold;
}

header #task {
  background-color: #47adf1;
}

header #section {
  background-color: #ffffff;
  border: 2px solid #c5cbd0;
  color: #c5cbd0;
}
/* /header */


/* to do list */
 #to-do-list {
  background-color: white;
  padding-left: 50px;
}

section .to-do-section {
  padding-top: 40px;
}

section .to-do-title {
  display: inline-block;
}

/* rimuovo marcatori ul */
section .to-do-subsession {
  list-style-type: none;
}

section .li-style {
  padding-top: 10px;
}

/* icona checkmark */
section .check {
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  line-height: 25px;
  color: #64c0a9;
  border: 0.1px solid #64c0a9;
  border-radius: 50%;
  text-align: center;
}

/* icona unceckmark */
section .uncheck {
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  line-height: 23.5px;
  color: #e7362d;
  border: 0.1px solid #e7362d;
  border-radius: 50%;
  text-align: center;
}

section .to-do-button {
  padding: 6px 12px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}

section .to-do-text {
  padding-left: 5px;
  font-size: 1.3em;
}

section #editorial {
  background-color: #45abea;
}

section #q1-goals {
  background-color: #9c72e4;
}

section #recruiting {
  background-color: #64c0a9;
}

section #mobile {
  background-color: #f29e33;
}

section #website {
  background-color: #d863a1;
}

section #sales {
  background-color: #b0c926;
}
/* /to do list */